h1 {
  font-family: "cwTeXYen", sans-serif;
  letter-spacing: 3px;
  font-size: 60px;
  text-align: center;
  color: #d8aa44;
  margin: 20px 0;
}
h3 {
  font-family: "cwTeXYen", sans-serif;
  font-size: 40px;
  margin: 5px;
}
p {
  margin: 5px;
}
img {
  width: 350px;
}
button {
  background-color: #d8aa44;
  color: #fff;
  width: 100px;
  height: 50px;
  margin: 10px;
  font-size: 25px;
  border-radius: 10px;
}
button a {
  text-decoration: none;
  color: #fff;
}

button:hover {
  cursor: pointer;
  background-color: #d69507;
}
a :hover {
  background-color: #fff;
  color: #d8aa44;
}
